<?xml version="1.0" encoding="UTF-8"?>

<SpiderConfig>
	<newspaper name="人民日报海外版" startUrl="http://paper.people.com.cn/rmrbhwb/html/2014-09/22/node_865,htm">
    <ruleTitle>h1</ruleTitle>
	<ruleSource>
		<sourceEle>map</sourceEle>
		<sourceEles>area</sourceEles>
	</ruleSource>
	<rulePage>
		<pageEle>body</pageEle>
		<pageEles>a[id=pageLink]</pageEles>
	</rulePage>
	<rulePublishDate>文章时间 分为xxxx-xx/xx和xxxxxxxx两种格式</rulePublishDate>
	<ruleBody>
		<bodyEle>body Tag</bodyEle>
		<bodyEles>content Tag</bodyEles>
		<regex>需要替换的字符串</regex>
		<replacement>替换后的字符串</replacement>
	</ruleBody>
    <ruleImg>图片所在的标签</ruleImg>
  </newspaper>

</SpiderConfig>
